@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: theme("fontFamily.body");
    background-color: theme("colors.bg.body");
    color: theme("colors.text.body");
    line-height: 28px;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease;
    scrollbar-gutter: stable;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme("fontFamily.heading");
  }
}

@layer components {

  /* ------ GLOBAL STYLES - START ------ */
  strong {
    font-weight: 600;
    color: theme("colors.text.bold");
  }

  mark {
    background-color: theme("colors.bg.selection");
    color: theme("colors.text.selection");
  }

  /* 
      if you want an anchor tag to not have this style, 
      just add a class `unset` to it. 
  */
  a:not(.unset) {
    text-decoration: underline;
    background-repeat: no-repeat;
    color: theme("colors.text.link");
  }

  a:not(.unset):hover {
    text-decoration: none;
    color: theme("colors.text.link");
  }

  code:not(pre code):not(.unset) {
    background-color: theme("colors.bg.code");
    color: theme("colors.text.code");
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.875em;
    font-weight: 400;
    border: 1px solid theme("colors.border.code");
    margin-bottom: 1.25em;
  }

  html.dark code:not(pre code) {
    background-color: rgb(var(--color-bg-code) / 0.15);
    border-color: rgb(var(--color-border-code) / 0.15);
  }

  ::selection {
    background: theme("colors.bg.selection");
    color: theme("colors.text.selection");
  }

  /* ------ GLOBAL STYLES - END ------ */

  /* ------ REUSABLE UTILS - START ------ */
  .animated-link {
    text-decoration: none;
  }

  .animated-link:hover {
    color: theme("colors.text.link");
  }

  .animated-link.show {
    text-decoration: underline;
    color: theme("colors.text.link");
  }

  /* ------ REUSABLE UTILS - END ------ */
}