@tailwind base;
@tailwind components;
@tailwind utilities;

/* light theme */
.theme-sleek {
    /* tailwind amber-500 */
    --color-primary-main: 245 158 11;
    --color-label-blue: 186 230 253;
    --color-label-gray: 226 232 240;
    --color-label-yellow: 253 230 138;
    --color-label-orange: 254 215 170;
    --color-label-red: 254 205 211;

    /* tailwind gray-700 */
    --color-text-body: 55 65 81;
    /* tailwind gray-700 */
    /* #374151 */
    --color-text-heading: 55 65 81;
    /* tailwind gray-700 */
    --color-text-bold: 55 65 81;
    /* tailwind gray-500 */
    --color-text-muted: 107 114 128;
    /* tailwind amber-500 */
    --color-text-link: 245 158 11;

    /* black */
    --color-text-code: 0 0 0;
    /* black */
    --color-text-selection: 0 0 0;

    /* white */
    --color-bg-body: 255 255 255;
    /* tailwind orange-50 */
    --color-bg-code: 255 247 237;
    /* #d9f99d */
    --color-bg-selection: 253 230 138;

    /* tailwind orange-100 */
    --color-border-code: 255 237 213;
}

/* dark theme */
.theme-sleek.dark {
    --color-primary-main: 250 204 21;
    --color-label-blue: 3 105 161;
    --color-label-gray: 51 65 85;
    --color-label-yellow: 161 98 7;
    --color-label-orange: 194 65 12;
    --color-label-red: 190 18 60;

    /* tailwind stone-300 */
    --color-text-body: 214 211 209;
    /* white */
    --color-text-heading: 255 255 255;
    /* white */
    --color-text-bold: 255 255 255;
    /* tailwind stone-400 */
    --color-text-muted: 168 162 158;
    /* --color-text-link: 250 204 21; */
    --color-text-link: 34 211 238;
    /* black */
    --color-text-code: 255 255 255;
    /* black */
    --color-text-selection: 0 0 0;

    /* #0e141b */
    --color-bg-body: 14 20 27;
    /* yellow-500 */
    --color-bg-code: 234 179 8;
    /* #ffd848 */
    --color-bg-selection: 255 216 72;

    /* yellow-100 */
    --color-border-code: 254 243 199;
}

:root {
    font-family: 'Open Sans', sans-serif;
    /* base font-size 1px larger for better visibility */
    font-size: 1.0625em;
    line-height: 1.75;
}

body {
    transition: background-color 0.3s ease;
}

@layer components {

    /* ------ GLOBAL STYLES - START ------ */
    strong {
        font-weight: 600;
        color: theme('colors.text.bold');
    }

    mark {
        background-color: theme('colors.bg.selection');
        color: theme('colors.text.selection');
    }

    /* 
        if you want an anchor tag to not have this style, 
        just add a class `unset` to it. 
    */
    a:not(.unset) {
        text-decoration: none;
        background-repeat: no-repeat;
        background-size: 100% 1.5px;
        background-position: 0 100%;
        background-image:
            linear-gradient(to right, theme('colors.text.link'), theme('colors.text.link'));
    }

    a:not(.unset):hover {
        color: theme('colors.text.link');
    }

    code:not(pre code):not(.unset) {
        background-color: theme('colors.bg.code');
        color: theme('colors.text.code');
        padding: 0.125rem 0.25rem;
        border-radius: 0.25rem;
        font-size: 0.875em;
        font-weight: 600;
        border: 1px solid theme('colors.border.code');
        margin-bottom: 1.25em;
    }

    html.dark code:not(pre code) {
        background-color: rgb(var(--color-bg-code) / 0.15);
        border-color: rgb(var(--color-border-code) / 0.15);
    }

    ul:not(.unset) {
        padding-left: 0;
        list-style: none;
    }

    ul>li {
        position: relative;
        padding-left: 1.375rem;
    }

    ul:not(.unset)>li::before {
        position: absolute;
        left: 0;
        content: "»";
        color: rgb(var(--color-text-muted));
    }

    ol:not(.unset) {
        padding-left: 1.125rem;
    }

    ol:not(.unset)>li::marker {
        color: rgb(var(--color-text-muted))
    }

    ul:not(.unset)>li,
    ol:not(.unset)>li {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    ::selection {
        background: theme('colors.bg.selection');
        color: theme('colors.text.selection');
    }

    /* ------ GLOBAL STYLES - END ------ */

    /* ------ REUSABLE UTILS - START ------ */
    .animated-link {
        position: relative;
        box-decoration-break: clone;
        text-decoration: none;
    }

    .animated-link:hover:after {
        transform: translateZ(0) scale(1);
    }

    .animated-link:after {
        left: 0;
        right: 0;
        bottom: -3px;
        content: "";
        height: 2px;
        position: absolute;
        transform: translateZ(0) scaleX(0);
        transform-origin: left center;
        transition: all .150s ease-in-out;
        background-image: linear-gradient(to right, theme('colors.text.link'), theme('colors.text.link'));
    }

    .animated-link.show:after {
        transform: translateZ(0) scale(1);
    }

    /* ------ REUSABLE UTILS - END ------ */
}