/* light theme */
.theme-sleek {
  --color-primary-main: 23 23 23;
  /* --color-primary-main: 245 158 11; */
  --color-label-blue: 186 230 253;
  --color-label-gray: 226 232 240;
  --color-label-yellow: 253 230 138;
  --color-label-orange: 254 215 170;
  --color-label-red: 254 205 211;

  /* #1b1b1b */
  --color-text-body: 23 23 23;
  /* #1b1b1b */
  --color-text-heading: 23 23 23;
  /* tailwind gray-900 #111827 */
  --color-text-bold: 17 24 39;
  /* #777 */
  --color-text-muted: 119 119 119;
  /* #0074de */
  --color-text-link: 0 116 222;

  /* black */
  --color-text-code: 0 0 0;
  /* black */
  --color-text-selection: 0 0 0;

  /* white */
  --color-bg-body: 255 255 255;
  /* next.js blog code */
  --color-bg-code: 242 242 242;
  /* #fef08a */
  --color-bg-selection: 254 240 138;

  /* next.js blog code */
  --color-border-code: 235 235 235;
}

/* dark theme */
.theme-sleek.dark {
  /* tailwind cyan-500 */
  --color-primary-main: 34 211 238;
  --color-label-blue: 3 105 161;
  --color-label-gray: 51 65 85;
  --color-label-yellow: 161 98 7;
  --color-label-orange: 194 65 12;
  --color-label-red: 190 18 60;

  /* mdn body white */
  --color-text-body: 255 255 255;
  /* white */
  --color-text-heading: 255 255 255;
  /* white */
  --color-text-bold: 255 255 255;
  /* #777 */
  --color-text-muted: 119 119 119;
  /* mdn link */
  --color-text-link: 140 180 255;
  /* black */
  --color-text-code: 255 255 255;
  /* black */
  --color-text-selection: 0 0 0;

  /* mdn bg #1b1b1b */
  --color-bg-body: 27 27 27;
  /* #343434 */
  --color-bg-code: 52 52 52;
  /* #67e8f9 */
  --color-bg-selection: 103 232 249;

  /* yellow-100 */
  --color-border-code: 254 243 199;
}
