.chroma {
  --color-bg-code: #282a36;
  --color-border-code: rgba(68, 68, 68, 0.6);
}

.bg {
  color: #f8f8f2;
  background-color: var(--color-bg-code);
}
.chroma {
  color: #f8f8f2;
  background-color: var(--color-bg-code);
}
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .hl {
  background-color: #3d3f4a;
}
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}
.chroma .line {
  display: flex;
}
.chroma .k {
  color: #ff79c6;
}
.chroma .kc {
  color: #ff79c6;
}
.chroma .kd {
  color: #8be9fd;
  font-style: italic;
}
.chroma .kn {
  color: #ff79c6;
}
.chroma .kp {
  color: #ff79c6;
}
.chroma .kr {
  color: #ff79c6;
}
.chroma .kt {
  color: #8be9fd;
}
.chroma .na {
  color: #50fa7b;
}
.chroma .nc {
  color: #50fa7b;
}
.chroma .nl {
  color: #8be9fd;
  font-style: italic;
}
.chroma .nt {
  color: #ff79c6;
}
.chroma .nb {
  color: #8be9fd;
  font-style: italic;
}
.chroma .bp {
  font-style: italic;
}
.chroma .nv {
  color: #8be9fd;
  font-style: italic;
}
.chroma .vc {
  color: #8be9fd;
  font-style: italic;
}
.chroma .vg {
  color: #8be9fd;
  font-style: italic;
}
.chroma .vi {
  color: #8be9fd;
  font-style: italic;
}
.chroma .vm {
  color: #8be9fd;
  font-style: italic;
}
.chroma .nf {
  color: #50fa7b;
}
.chroma .fm {
  color: #50fa7b;
}
.chroma .s {
  color: #f1fa8c;
}
.chroma .sa {
  color: #f1fa8c;
}
.chroma .sb {
  color: #f1fa8c;
}
.chroma .sc {
  color: #f1fa8c;
}
.chroma .dl {
  color: #f1fa8c;
}
.chroma .sd {
  color: #f1fa8c;
}
.chroma .s2 {
  color: #f1fa8c;
}
.chroma .se {
  color: #f1fa8c;
}
.chroma .sh {
  color: #f1fa8c;
}
.chroma .si {
  color: #f1fa8c;
}
.chroma .sx {
  color: #f1fa8c;
}
.chroma .sr {
  color: #f1fa8c;
}
.chroma .s1 {
  color: #f1fa8c;
}
.chroma .ss {
  color: #f1fa8c;
}
.chroma .m {
  color: #bd93f9;
}
.chroma .mb {
  color: #bd93f9;
}
.chroma .mf {
  color: #bd93f9;
}
.chroma .mh {
  color: #bd93f9;
}
.chroma .mi {
  color: #bd93f9;
}
.chroma .il {
  color: #bd93f9;
}
.chroma .mo {
  color: #bd93f9;
}
.chroma .o {
  color: #ff79c6;
}
.chroma .ow {
  color: #ff79c6;
}
.chroma .c {
  color: #6272a4;
}
.chroma .ch {
  color: #6272a4;
}
.chroma .cm {
  color: #6272a4;
}
.chroma .c1 {
  color: #6272a4;
}
.chroma .cs {
  color: #6272a4;
}
.chroma .cp {
  color: #ff79c6;
}
.chroma .cpf {
  color: #ff79c6;
}
.chroma .gd {
  color: #ff5555;
}
.chroma .ge {
  text-decoration: underline;
}
.chroma .gh {
  font-weight: bold;
}
.chroma .gi {
  color: #50fa7b;
  font-weight: bold;
}
.chroma .go {
  color: #44475a;
}
.chroma .gu {
  font-weight: bold;
}
.chroma .gl {
  text-decoration: underline;
}
