.chroma {
  --color-bg-code: #202020;
  --color-border-code: var(--color-bg-body);
}

.bg {
  color: #d0d0d0;
  background-color: var(--color-bg-code);
}
.chroma {
  color: #d0d0d0;
  background-color: var(--color-bg-code);
}
.chroma .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .hl {
  background-color: #363636;
}
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #686868;
}
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #686868;
}
.chroma .line {
  display: flex;
}
.chroma .k {
  color: #6ab825;
  font-weight: bold;
}
.chroma .kc {
  color: #6ab825;
  font-weight: bold;
}
.chroma .kd {
  color: #6ab825;
  font-weight: bold;
}
.chroma .kn {
  color: #6ab825;
  font-weight: bold;
}
.chroma .kp {
  color: #6ab825;
}
.chroma .kr {
  color: #6ab825;
  font-weight: bold;
}
.chroma .kt {
  color: #6ab825;
  font-weight: bold;
}
.chroma .na {
  color: #bbbbbb;
}
.chroma .nc {
  color: #447fcf;
  text-decoration: underline;
}
.chroma .no {
  color: #40ffff;
}
.chroma .nd {
  color: #ffa500;
}
.chroma .ne {
  color: #bbbbbb;
}
.chroma .nn {
  color: #447fcf;
  text-decoration: underline;
}
.chroma .nt {
  color: #6ab825;
  font-weight: bold;
}
.chroma .nb {
  color: #24909d;
}
.chroma .bp {
  color: #24909d;
}
.chroma .nv {
  color: #40ffff;
}
.chroma .vc {
  color: #40ffff;
}
.chroma .vg {
  color: #40ffff;
}
.chroma .vi {
  color: #40ffff;
}
.chroma .vm {
  color: #40ffff;
}
.chroma .nf {
  color: #447fcf;
}
.chroma .fm {
  color: #447fcf;
}
.chroma .s {
  color: #ed9d13;
}
.chroma .sa {
  color: #ed9d13;
}
.chroma .sb {
  color: #ed9d13;
}
.chroma .sc {
  color: #ed9d13;
}
.chroma .dl {
  color: #ed9d13;
}
.chroma .sd {
  color: #ed9d13;
}
.chroma .s2 {
  color: #ed9d13;
}
.chroma .se {
  color: #ed9d13;
}
.chroma .sh {
  color: #ed9d13;
}
.chroma .si {
  color: #ed9d13;
}
.chroma .sx {
  color: #ffa500;
}
.chroma .sr {
  color: #ed9d13;
}
.chroma .s1 {
  color: #ed9d13;
}
.chroma .ss {
  color: #ed9d13;
}
.chroma .m {
  color: #3677a9;
}
.chroma .mb {
  color: #3677a9;
}
.chroma .mf {
  color: #3677a9;
}
.chroma .mh {
  color: #3677a9;
}
.chroma .mi {
  color: #3677a9;
}
.chroma .il {
  color: #3677a9;
}
.chroma .mo {
  color: #3677a9;
}
.chroma .ow {
  color: #6ab825;
  font-weight: bold;
}
.chroma .c {
  color: #999999;
  font-style: italic;
}
.chroma .ch {
  color: #999999;
  font-style: italic;
}
.chroma .cm {
  color: #999999;
  font-style: italic;
}
.chroma .c1 {
  color: #999999;
  font-style: italic;
}
.chroma .cs {
  color: #e50808;
  background-color: #520000;
  font-weight: bold;
}
.chroma .cp {
  color: #cd2828;
  font-weight: bold;
}
.chroma .cpf {
  color: #cd2828;
  font-weight: bold;
}
.chroma .gd {
  color: #d22323;
}
.chroma .ge {
  font-style: italic;
}
.chroma .gr {
  color: #d22323;
}
.chroma .gh {
  color: #ffffff;
  font-weight: bold;
}
.chroma .gi {
  color: #589819;
}
.chroma .go {
  color: #cccccc;
}
.chroma .gp {
  color: #aaaaaa;
}
.chroma .gs {
  font-weight: bold;
}
.chroma .gu {
  color: #ffffff;
  text-decoration: underline;
}
.chroma .gt {
  color: #d22323;
}
.chroma .gl {
  text-decoration: underline;
}
.chroma .w {
  color: #666666;
}
