.chroma {
  --color-bg-code: #24273a;
  --color-border-code: rgba(68, 68, 68, 0.6);
}

.bg {
  color: #cad3f5;
  background-color: var(--color-bg-code);
}
.chroma {
  color: #cad3f5;
  background-color: var(--color-bg-code);
}
.chroma .err {
  color: #ed8796;
}
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .hl {
  background-color: #494d64;
}
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #8087a2;
}
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #8087a2;
}
.chroma .line {
  display: flex;
}
.chroma .k {
  color: #c6a0f6;
}
.chroma .kc {
  color: #f5a97f;
}
.chroma .kd {
  color: #ed8796;
}
.chroma .kn {
  color: #8bd5ca;
}
.chroma .kp {
  color: #c6a0f6;
}
.chroma .kr {
  color: #c6a0f6;
}
.chroma .kt {
  color: #ed8796;
}
.chroma .na {
  color: #8aadf4;
}
.chroma .nc {
  color: #eed49f;
}
.chroma .no {
  color: #eed49f;
}
.chroma .nd {
  color: #8aadf4;
  font-weight: bold;
}
.chroma .ni {
  color: #8bd5ca;
}
.chroma .ne {
  color: #f5a97f;
}
.chroma .nl {
  color: #91d7e3;
}
.chroma .nn {
  color: #f5a97f;
}
.chroma .py {
  color: #f5a97f;
}
.chroma .nt {
  color: #c6a0f6;
}
.chroma .nb {
  color: #91d7e3;
}
.chroma .bp {
  color: #91d7e3;
}
.chroma .nv {
  color: #f4dbd6;
}
.chroma .vc {
  color: #f4dbd6;
}
.chroma .vg {
  color: #f4dbd6;
}
.chroma .vi {
  color: #f4dbd6;
}
.chroma .vm {
  color: #f4dbd6;
}
.chroma .nf {
  color: #8aadf4;
}
.chroma .fm {
  color: #8aadf4;
}
.chroma .s {
  color: #a6da95;
}
.chroma .sa {
  color: #ed8796;
}
.chroma .sb {
  color: #a6da95;
}
.chroma .sc {
  color: #a6da95;
}
.chroma .dl {
  color: #8aadf4;
}
.chroma .sd {
  color: #6e738d;
}
.chroma .s2 {
  color: #a6da95;
}
.chroma .se {
  color: #8aadf4;
}
.chroma .sh {
  color: #6e738d;
}
.chroma .si {
  color: #a6da95;
}
.chroma .sx {
  color: #a6da95;
}
.chroma .sr {
  color: #8bd5ca;
}
.chroma .s1 {
  color: #a6da95;
}
.chroma .ss {
  color: #a6da95;
}
.chroma .m {
  color: #f5a97f;
}
.chroma .mb {
  color: #f5a97f;
}
.chroma .mf {
  color: #f5a97f;
}
.chroma .mh {
  color: #f5a97f;
}
.chroma .mi {
  color: #f5a97f;
}
.chroma .il {
  color: #f5a97f;
}
.chroma .mo {
  color: #f5a97f;
}
.chroma .o {
  color: #91d7e3;
  font-weight: bold;
}
.chroma .ow {
  color: #91d7e3;
  font-weight: bold;
}
.chroma .c {
  color: #6e738d;
  font-style: italic;
}
.chroma .ch {
  color: #5b6078;
  font-style: italic;
}
.chroma .cm {
  color: #6e738d;
  font-style: italic;
}
.chroma .c1 {
  color: #6e738d;
  font-style: italic;
}
.chroma .cs {
  color: #6e738d;
  font-style: italic;
}
.chroma .cp {
  color: #6e738d;
  font-style: italic;
}
.chroma .cpf {
  color: #6e738d;
  font-weight: bold;
  font-style: italic;
}
.chroma .gd {
  color: #ed8796;
  background-color: #363a4f;
}
.chroma .ge {
  font-style: italic;
}
.chroma .gr {
  color: #ed8796;
}
.chroma .gh {
  color: #f5a97f;
  font-weight: bold;
}
.chroma .gi {
  color: #a6da95;
  background-color: #363a4f;
}
.chroma .gs {
  font-weight: bold;
}
.chroma .gu {
  color: #f5a97f;
  font-weight: bold;
}
.chroma .gt {
  color: #ed8796;
}
.chroma .gl {
  text-decoration: underline;
}
