.chroma {
  --color-bg-code: #303446;
  --color-border-code: rgba(68, 68, 68, 0.6);
}
.bg {
  color: #c6d0f5;
  background-color: var(--color-bg-code);
}
.chroma {
  color: #c6d0f5;
  background-color: var(--color-bg-code);
}
.chroma .err {
  color: #e78284;
}
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .hl {
  background-color: #51576d;
}
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #838ba7;
}
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #838ba7;
}
.chroma .line {
  display: flex;
}
.chroma .k {
  color: #ca9ee6;
}
.chroma .kc {
  color: #ef9f76;
}
.chroma .kd {
  color: #e78284;
}
.chroma .kn {
  color: #81c8be;
}
.chroma .kp {
  color: #ca9ee6;
}
.chroma .kr {
  color: #ca9ee6;
}
.chroma .kt {
  color: #e78284;
}
.chroma .na {
  color: #8caaee;
}
.chroma .nc {
  color: #e5c890;
}
.chroma .no {
  color: #e5c890;
}
.chroma .nd {
  color: #8caaee;
  font-weight: bold;
}
.chroma .ni {
  color: #81c8be;
}
.chroma .ne {
  color: #ef9f76;
}
.chroma .nl {
  color: #99d1db;
}
.chroma .nn {
  color: #ef9f76;
}
.chroma .py {
  color: #ef9f76;
}
.chroma .nt {
  color: #ca9ee6;
}
.chroma .nb {
  color: #99d1db;
}
.chroma .bp {
  color: #99d1db;
}
.chroma .nv {
  color: #f2d5cf;
}
.chroma .vc {
  color: #f2d5cf;
}
.chroma .vg {
  color: #f2d5cf;
}
.chroma .vi {
  color: #f2d5cf;
}
.chroma .vm {
  color: #f2d5cf;
}
.chroma .nf {
  color: #8caaee;
}
.chroma .fm {
  color: #8caaee;
}
.chroma .s {
  color: #a6d189;
}
.chroma .sa {
  color: #e78284;
}
.chroma .sb {
  color: #a6d189;
}
.chroma .sc {
  color: #a6d189;
}
.chroma .dl {
  color: #8caaee;
}
.chroma .sd {
  color: #737994;
}
.chroma .s2 {
  color: #a6d189;
}
.chroma .se {
  color: #8caaee;
}
.chroma .sh {
  color: #737994;
}
.chroma .si {
  color: #a6d189;
}
.chroma .sx {
  color: #a6d189;
}
.chroma .sr {
  color: #81c8be;
}
.chroma .s1 {
  color: #a6d189;
}
.chroma .ss {
  color: #a6d189;
}
.chroma .m {
  color: #ef9f76;
}
.chroma .mb {
  color: #ef9f76;
}
.chroma .mf {
  color: #ef9f76;
}
.chroma .mh {
  color: #ef9f76;
}
.chroma .mi {
  color: #ef9f76;
}
.chroma .il {
  color: #ef9f76;
}
.chroma .mo {
  color: #ef9f76;
}
.chroma .o {
  color: #99d1db;
  font-weight: bold;
}
.chroma .ow {
  color: #99d1db;
  font-weight: bold;
}
.chroma .c {
  color: #737994;
  font-style: italic;
}
.chroma .ch {
  color: #626880;
  font-style: italic;
}
.chroma .cm {
  color: #737994;
  font-style: italic;
}
.chroma .c1 {
  color: #737994;
  font-style: italic;
}
.chroma .cs {
  color: #737994;
  font-style: italic;
}
.chroma .cp {
  color: #737994;
  font-style: italic;
}
.chroma .cpf {
  color: #737994;
  font-weight: bold;
  font-style: italic;
}
.chroma .gd {
  color: #e78284;
  background-color: #414559;
}
.chroma .ge {
  font-style: italic;
}
.chroma .gr {
  color: #e78284;
}
.chroma .gh {
  color: #ef9f76;
  font-weight: bold;
}
.chroma .gi {
  color: #a6d189;
  background-color: #414559;
}
.chroma .gs {
  font-weight: bold;
}
.chroma .gu {
  color: #ef9f76;
  font-weight: bold;
}
.chroma .gt {
  color: #e78284;
}
.chroma .gl {
  text-decoration: underline;
}
