.chroma {
  --color-bg-code: #f8f8f8;
  --color-border-code: rgba(68, 68, 68, 0.6);
}
.bg {
  background-color: var(--color-bg-code);
}
.chroma {
  background-color: var(--color-bg-code);
}
.chroma .x {
  color: #000000;
}
.chroma .err {
  color: #a40000;
}
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.chroma .hl {
  background-color: #dfdfdf;
}
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}
.chroma .line {
  display: flex;
}
.chroma .k {
  color: #204a87;
  font-weight: bold;
}
.chroma .kc {
  color: #204a87;
  font-weight: bold;
}
.chroma .kd {
  color: #204a87;
  font-weight: bold;
}
.chroma .kn {
  color: #204a87;
  font-weight: bold;
}
.chroma .kp {
  color: #204a87;
  font-weight: bold;
}
.chroma .kr {
  color: #204a87;
  font-weight: bold;
}
.chroma .kt {
  color: #204a87;
  font-weight: bold;
}
.chroma .n {
  color: #000000;
}
.chroma .na {
  color: #c4a000;
}
.chroma .nc {
  color: #000000;
}
.chroma .no {
  color: #000000;
}
.chroma .nd {
  color: #5c35cc;
  font-weight: bold;
}
.chroma .ni {
  color: #ce5c00;
}
.chroma .ne {
  color: #cc0000;
  font-weight: bold;
}
.chroma .nl {
  color: #f57900;
}
.chroma .nn {
  color: #000000;
}
.chroma .nx {
  color: #000000;
}
.chroma .py {
  color: #000000;
}
.chroma .nt {
  color: #204a87;
  font-weight: bold;
}
.chroma .nb {
  color: #204a87;
}
.chroma .bp {
  color: #3465a4;
}
.chroma .nv {
  color: #000000;
}
.chroma .vc {
  color: #000000;
}
.chroma .vg {
  color: #000000;
}
.chroma .vi {
  color: #000000;
}
.chroma .vm {
  color: #000000;
}
.chroma .nf {
  color: #000000;
}
.chroma .fm {
  color: #000000;
}
.chroma .l {
  color: #000000;
}
.chroma .ld {
  color: #000000;
}
.chroma .s {
  color: #4e9a06;
}
.chroma .sa {
  color: #4e9a06;
}
.chroma .sb {
  color: #4e9a06;
}
.chroma .sc {
  color: #4e9a06;
}
.chroma .dl {
  color: #4e9a06;
}
.chroma .sd {
  color: #8f5902;
  font-style: italic;
}
.chroma .s2 {
  color: #4e9a06;
}
.chroma .se {
  color: #4e9a06;
}
.chroma .sh {
  color: #4e9a06;
}
.chroma .si {
  color: #4e9a06;
}
.chroma .sx {
  color: #4e9a06;
}
.chroma .sr {
  color: #4e9a06;
}
.chroma .s1 {
  color: #4e9a06;
}
.chroma .ss {
  color: #4e9a06;
}
.chroma .m {
  color: #0000cf;
  font-weight: bold;
}
.chroma .mb {
  color: #0000cf;
  font-weight: bold;
}
.chroma .mf {
  color: #0000cf;
  font-weight: bold;
}
.chroma .mh {
  color: #0000cf;
  font-weight: bold;
}
.chroma .mi {
  color: #0000cf;
  font-weight: bold;
}
.chroma .il {
  color: #0000cf;
  font-weight: bold;
}
.chroma .mo {
  color: #0000cf;
  font-weight: bold;
}
.chroma .o {
  color: #ce5c00;
  font-weight: bold;
}
.chroma .ow {
  color: #204a87;
  font-weight: bold;
}
.chroma .p {
  color: #000000;
  font-weight: bold;
}
.chroma .c {
  color: #8f5902;
  font-style: italic;
}
.chroma .ch {
  color: #8f5902;
  font-style: italic;
}
.chroma .cm {
  color: #8f5902;
  font-style: italic;
}
.chroma .c1 {
  color: #8f5902;
  font-style: italic;
}
.chroma .cs {
  color: #8f5902;
  font-style: italic;
}
.chroma .cp {
  color: #8f5902;
  font-style: italic;
}
.chroma .cpf {
  color: #8f5902;
  font-style: italic;
}
.chroma .g {
  color: #000000;
}
.chroma .gd {
  color: #a40000;
}
.chroma .ge {
  color: #000000;
  font-style: italic;
}
.chroma .gr {
  color: #ef2929;
}
.chroma .gh {
  color: #000080;
  font-weight: bold;
}
.chroma .gi {
  color: #00a000;
}
.chroma .go {
  color: #000000;
  font-style: italic;
}
.chroma .gp {
  color: #8f5902;
}
.chroma .gs {
  color: #000000;
  font-weight: bold;
}
.chroma .gu {
  color: #800080;
  font-weight: bold;
}
.chroma .gt {
  color: #a40000;
  font-weight: bold;
}
.chroma .gl {
  color: #000000;
  text-decoration: underline;
}
.chroma .w {
  color: #f8f8f8;
}
