/* ------ REUSABLE UTILS - START ------ */
.animated-link {
  position: relative;
  box-decoration-break: clone;
  text-decoration: none;
}

.animated-link:hover:after {
  transform: translateZ(0) scale(1);
}

.animated-link:after {
  left: 0;
  right: 0;
  bottom: -3px;
  content: "";
  height: 2px;
  position: absolute;
  transform: translateZ(0) scaleX(0);
  transform-origin: left center;
  transition: all .150s ease-in-out;
  background-image: linear-gradient(to right, var(--color-text-link), var(--color-text-link));
}

.animated-link.active:after {
  transform: translateZ(0) scale(1);
}

.heading-anchor-group {
  display: flex;
  margin-left: -1.5rem;
}
.heading-anchor {
  opacity: 0;
  vertical-align: middle;
  width: 1.5rem;
  color: var(--color-text-link);
}

.heading-anchor-group:hover .heading-anchor {
  opacity: 1;
  
}

/* ------ REUSABLE UTILS - END ------ */