/* ============================================ */

/* ============================================ */
/* CSS Variables - Light Theme */
/* ============================================ */
.theme-newspaper {
  --color-primary-main: rgb(15 23 42);

  --color-label-blue: rgb(254 243 199);
  --color-label-gray: rgb(254 243 199);
  --color-label-yellow: rgb(254 243 199);
  --color-label-orange: rgb(254 243 199);
  --color-label-red: rgb(254 243 199);

  --color-text-body: rgb(15 23 42);
  --color-text-heading: rgb(15 23 42);
  --color-text-bold: rgb(15 23 42);
  --color-text-muted: rgb(100 116 139);
  --color-text-link: rgb(51 154 240);
  --color-text-code: rgb(0 0 0);
  --color-text-selection: rgb(0 0 0);

  --color-bg-body: rgb(255 255 255);
  /* --color-bg-code: rgb(255 255 255); */
  --color-bg-code: rgb(254 243 199);
  --color-bg-selection: rgb(226 232 240);

  --color-border-code: rgb(244 244 245);
}

/* ============================================ */
/* CSS Variables - Dark Theme */
/* ============================================ */
@media (prefers-color-scheme: dark) {
  .theme-newspaper {
    --color-primary-main: rgb(255 255 255);
    --color-label-blue: rgb(254 243 199 / 0.1);
    --color-label-gray: rgb(254 243 199 / 0.1);
    --color-label-yellow: rgb(254 243 199 / 0.1);
    --color-label-orange: rgb(254 243 199 / 0.1);
    --color-label-red: rgb(254 243 199 / 0.1);

    --color-text-body: rgb(229 229 229);
    --color-text-heading: rgb(255 255 255);
    --color-text-bold: rgb(255 255 255);
    --color-text-muted: rgb(212 212 212);
    --color-text-link: rgb(51 154 240);
    --color-text-code: rgb(255 255 255);
    --color-text-selection: rgb(0 0 0);

    --color-bg-body: rgb(38 38 38);
    --color-bg-code: rgb(234 179 8 / 0.1);
    /* color-mix(in srgb, var(--color-bg-code) 10%, transparent) */
    --color-bg-selection: rgb(255 255 255);

    --color-border-code: rgb(64 64 64 / 0.25);
  }
}
