/* Body grid layout */
body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-template-columns: minmax(0, 1fr);
}

main {
  grid-area: main;
}

/* Gradient link effect */
.gradient-link {
  position: relative;
  box-decoration-break: clone;
  text-decoration: none;
}

.gradient-link:hover:after {
  transform: translateZ(0) scale(1);
}

.gradient-link:after {
  left: 0;
  right: 0;
  bottom: -2px;
  content: "";
  height: 2px;
  position: absolute;
  transform: translateZ(0) scaleX(0);
  transform-origin: left center;
  transition: all 0.15s ease-in-out;
}
