---
import DarkModeToggle from "./DarkModeToggle.astro";
import Nav from "./Nav.astro";
---

<header>
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <Nav />
  <div
    class="max-[375px]:hidden justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href="/rss.xml"
    >
      <i
        class="fa-solid fa-rss"
        aria-hidden="true"
        title="RSS feed"></i>
      <span class="fa-sr-only">RSS feed</span>
    </a>
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href="https://github.com/flexdinesh"
    >
      <i
        class="fa-brands fa-github"
        aria-hidden="true"
        title="Dinesh on GitHub"></i>
      <span class="fa-sr-only">Dinesh on GitHub</span>
    </a>
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href="https://twitter.com/flexdinesh"
    >
      <i
        class="fa-brands fa-twitter"
        aria-hidden="true"
        title="Dinesh on Twitter"></i>
      <span class="fa-sr-only">Dinesh on Twitter</span>
    </a>
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
