---
---

<section class="pt-4 pb-4">
  <div class="flex flex-col-reverse xsm:flex-row sm:grid sm:grid-cols-[2fr_180px] items-start pt-4">
    <div class="flex flex-col pr-8">
      <h1
        class="font-bold text-3xl md:text-4xl tracking-tight pb-4"
      >
        <span class="text-text-heading">Hello, I'm <span class="text-primary-main">Dinesh.</span></span>
      </h1>

      <p class="pb-4">
        Web performance advocate. Developer Relations for <a
          href={"https://keystonejs.com"}
          target="_blank">Keystone</a
        >. Helping everyone build fast websites.
      </p>
      <p class="mb-5">
        I built this blog with
        <a href={"https://github.com/flexdinesh/blogster"} target="_blank"
          >Blogster</a
        >.
      </p>
    </div>

    <div class="w-[90px] flex sm:justify-end sm:w-full relative mb-8 sm:mb-0 mr-auto">
      <img
        class="rounded-full bg-primary-main/25"
        src="/images/dinesh-lowres.png"
        alt="Dinesh Pandiyan"
        title="Dinesh Pandiyan"
        width="168"
        height="168"
        loading="lazy"
      />
    </div>
  </div>
</section>
