<footer>
  <div class="social-links">
    <a class="unset text-xl hover:text-text-link" href="/blog/feed.xml">
      <i class="fa-solid fa-rss" aria-hidden="true" title="RSS feed"></i>
      <span class="fa-sr-only">RSS feed</span>
    </a>
    <a class="unset text-xl hover:text-text-link" href="https://github.com/flexdinesh">
      <i class="fa-brands fa-github" aria-hidden="true" title="Dinesh on GitHub"></i>
      <span class="fa-sr-only">Dinesh on GitHub</span>
    </a>
    <a class="unset text-xl hover:text-text-link" href="https://twitter.com/flexdinesh">
      <i class="fa-brands fa-twitter" aria-hidden="true" title="Dinesh on Twitter"></i>
      <span class="fa-sr-only">Dinesh on Twitter</span>
    </a>
  </div>

  <!-- <button id="theme-toggle" role="switch" type="button" tabindex="0" aria-label="Toggle dark mode"> -->
  <!--   <span class="sr-only">Toggle dark mode</span> -->
  <!--   <span id="theme-circle" class="light"> -->
  <!--     <span></span> -->
  <!--   </span> -->
  <!-- </button> -->
</footer>
