<header>
  <a class="unset skip-to-content" href="#main">
    Skip to content
  </a>

  <nav class="header-nav">
    <ul class="unset">
      <li><a class="unset animated-link{{ if eq .RelPermalink "/" }} active{{ end }}" href="/">Home</a></li>
      <li><a class="unset animated-link{{ if eq .Section "blog" }} active{{ end }}" href="/blog/">Blog</a></li>
      <li><a class="unset animated-link{{ if eq .Section "talks" }} active{{ end }}" href="/talks/">Talks</a></li>
      <li><a class="unset animated-link{{ if eq .Section "notes" }} active{{ end }}" href="/notes/">Notes</a></li>
    </ul>
  </nav>
</header>
