/* Footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0;
}

footer a.unset {
  color: var(--color-text-body);
  transition: color 0.15s ease;
}

footer a.unset:hover {
  color: var(--color-text-link);
}

.social-links {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

/* Theme Toggle Button */
#theme-toggle {
  background-color: rgba(27, 27, 27, 0.1);
  display: inline-flex;
  height: 1.5rem;
  width: 2.75rem;
  align-items: center;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  #theme-toggle {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

#theme-circle {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  position: relative;
}

#theme-circle.light {
  transform: translateX(0.25rem);
  background-image: linear-gradient(to bottom, rgb(23 23 23), rgb(23 23 23));
}

@media (prefers-color-scheme: dark) {
  #theme-circle {
    transform: translateX(1.5rem);
    background-image: linear-gradient(to top, rgb(255 255 255), rgb(255 255 255));
  }
}

#theme-circle.duration-300 {
  transition-duration: 300ms;
}

#theme-circle span {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  background-color: rgb(55 65 81);
  transform: scale(0);
}
